
 
 <h2 style="padding-left: 50%;">{{currentDate|date:'yyyy-MM-dd'}}</h2> 

 
 <nav class="nav nav-pills nav-fill">
  <a class="nav-link active" style="padding-left: 100px" aria-current="page" href="#" routerLink="/dashboard">HOME</a>

  <a class="nav-link active" style="padding-left: 100px" aria-current="page" href="#" routerLink="/delta">DELTA</a>
  <a class="nav-link active"style="padding-left: 100px" aria-current="page" href="#" routerLink="/summary">SUMMARY</a>

</nav>




<router-outlet></router-outlet>


